<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WhoIs | MayankFawkes</title>
    <link rel="stylesheet" href="/static/css/chat_over.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/chat_style.css">
    <link rel="stylesheet" href="/static/css/chat_settings.css">
    <link rel="stylesheet" href="/static/css/chat_main.css">

</head>