<div class="me col" id="me_section">
    <div class="me_header mb-0 px-3 pt-3 pb-3">
        <div class="me_exit d-flex d-md-none mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--me_previous" viewBox="0 0 45.5 30.4">
				  <path d="M43.5,13.1H7l9.7-9.6A2.1,2.1,0,1,0,13.8.6L.9,13.5h0L.3,14v.6c0,.1-.1.1-.1.2v.4a2,2,0,0,0,.6,1.5l.3.3L13.8,29.8a2.1,2.1,0,1,0,2.9-2.9L7,17.2H43.5a2,2,0,0,0,2-2A2.1,2.1,0,0,0,43.5,13.1Z" fill="#f68b3c" />
				</svg>
        </div>
        <div class="me_title noselect">
            Friends
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" role="tab" href="#me-online">Online</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#me-offline">Offline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#me-all-friends">All Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#me-friend-req">Requests</a>
        </li>
    </ul>
    <div class="tab-content mb-0 px-3 pt-3 pb-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="me-online" role="tabpanel">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="user">
                                <img src="https://cdn.statically.io/avatar/foo" alt="Courtney Simmons" loading="lazy">
                                <div class="user-status online"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>My name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                        </div>
                        <div class="col-4 acc_rej">
                            <input type="button" class="btn btn-primary btn-sm mb-2" value="Accept">
                            <input type="button" class="btn btn-primary btn-sm mb-2" value="Reject">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="user">
                                <div class="profile">
                                    <img src="https://cdn.statically.io/avatar/foo" alt="Courtney Simmons" loading="lazy">
                                    <div class="user-status online"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>My name is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                        </div>
                        <div class="col-4 acc_rej">
                            <input type="button" class="btn btn-primary btn-sm mb-2" value="Accept">
                            <input type="button" class="btn btn-primary btn-sm mb-2" value="Reject">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="me-offline" role="tabpanel" aria-labelledby="nav-profile-tab">
            Offline
        </div>
        <div class="tab-pane fade" id="me-all-friends" role="tabpanel" aria-labelledby="nav-profile-tab">
            All Friends
        </div>
        <div class="tab-pane fade" id="me-friend-req" role="tabpanel" aria-labelledby="nav-contact-tab">
            Requests
        </div>
    </div>
</div>